*{
    line-height: 1.15;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*html,body{*/
/*    height: 100%;*/
/*}*/
.ml-5{
    margin-left: 5px;
}
.mr-5{
    margin-right: 5px;
}
.pd{
    padding: 10px;
}
